body {
    background-color: orange;
    background-image: url("images/peter-bravo-de-los-rios-unsplash-pizza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 50px 100px; */
   
}

#toppings {
    
    background-color: white;
    width: 80%;
    height: 200px;
    border-radius: 10px;
    opacity: 60%;
    font-size: 20px;
    padding: 10px;
} 

.button {
    background-color: orange;
    border-radius: 5px;
    /* border: 2px solid black; */
    width: 200px;
    height: 50px;
    /* fix the font and size */
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    
}
div {
    border: 3px solid orange;
    margin-left: auto;
    margin-right: auto;
}

#veggie, #meat, #all, #rick {
    color: black;
    margin-top: 5px;
    /* border is for test purposes */
    /* border: 2px solid red; */
}

input {
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px solid orange;
}

/* .button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
} */

